body {
  background-color: #FFDEAD;
}

img {
  max-width: 100%;
  height: auto;
}

.float {
  float: left;
}

h1, h2 {
  color: blue;
  font-weight: 600;
}

p {
  font-family: sans-serif;
}

p.intro {
  width: 50%;
  font-style: italic;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

.important {
  color: red;
}

.unimportant {
  color: green;
}

.highlight {
  color: purple;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

.sidebar {
  width: 30%;
  float: center;
  background-color: yellow;
}

.column {
  width: 300px;
  float: left;
}

.my-class-1 {
  margin: 12px;
  margin: auto;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
  width: 50%;
}

.my-class-2 {
  margin: 12px;
  margin: auto;
  border: 2px solid red;
  padding: 4px;
  background-color: green;
  width: 50%;
}

.my-class-3 {
  margin: 12px;
  border: 2px solid yellow;
  padding: 4px;
  background-color: grey;
}

.box1 {
  width: 50%;
  border: solid black;
  border-width: 1px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box2 {
  width: 50%;
  padding: 20px;
  border: solid black;
  border-width: 20px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;
}