body {
  background-color: #FFDEAD;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2 {
  color: blue;
  font-weight: 600;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

